[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-googlemaps = "*"
pytz = "*"
gunicorn = "*"
datetime = "*"
"jinja2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
