{% extends "layout.html" %}
{% block content %}
        <div class="starter-template">

            <h1>Testing Team</h1>
            {% for owner, owner_map in owner_maps.iteritems() %}
                <br/>
                <p class="lead" href="http://maps.google.com/maps?q={{ owner_map.latitude }},{{  owner_map.longitude }}+(My+Point)&z=15&ll={{ owner_map.latitude }},{{  owner_map.longitude }}">{{owner}}'s Location</p>
                <br/>
            {% endfor %}
        </div>
{% endblock %}
