{% extends "layout.html" %}
{% block content %}
        <div class="starter-template">

            <h1>Testing Team</h1>
            {% for device_id, device in devices.items() %}
                <br/>
                <p class="lead">
                    <a href="http://maps.google.com/maps?q={{ device.map.latitude }},{{  device.map.longitude }}+(My+Point)&z=15&ll={{ device.map.latitude }},{{  device.map.longitude }}">{{device.name}}'s Location</a>
                    - last updated at {{ device.map.last_update }}
                </p>
                <br/>
            {% endfor %}
        </div>
{% endblock %}
